.two-img-row{
    display: flex;
    gap: 2%;
}
.two-img-row img {
    width: 49%;
    flex: 1;
    object-fit: cover;
    border-radius: 8px;
}
.type-1{
    text-indent: 60px;
    white-space: pre-wrap;
    margin: 20px 0 16px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: justify;
}
.type-2{
    text-indent: 60px;
    white-space: pre-wrap;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: justify;
}
@media (min-width: 600px) {
    .two-img-row{
        height: 400px;
    }
    .type-1{
        width: 75%;
    }
    .type-2{
        width: 75%;
        margin-right: 0px;
        margin-left: auto;
    }
}