.orders{
    display: flex;
    width: 90%;
    margin: auto;
}
.desk{
    width: 55%;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    margin-right: 2em;
}
.order{
    width: 40%;
    text-align: left
}
.column{
    width: 30%;
}
.s-row{
    display: flex;
    justify-content:flex-start;
    align-items: baseline;
}
