.basket-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 12px 0px;
}
.basket-header p {
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.basket-main{
    width: 90%;
    margin: 75px auto;
}
.basket-food{
    flex-direction: column;
}
.basket-info{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
@media (min-width: 600px) {
    .basket-main{
        display: flex;
        gap: 100px;
    }
    .basket-food{
        flex: 2;
    }
    .basket-info{
        flex: 1.6;
    }
}
.total{
    display: flex;
    justify-content: space-between;
}
.total p{
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0;
}
textarea {
    min-height: 50px;
    box-sizing: border-box;
    width: 100%;
    resize: none; /* Отключаем ручное изменение размера */
    overflow: hidden; /* Скрываем полосу прокрутки */
    font-size: 16px;
    padding: 0.6em 1em;
    border-radius: 1em;
    border: 2px solid #d3d3d3;
    outline: none;
}
.order-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 16px;
    padding: 10px;
    margin-top: 14px;
}
.order-type div {
    padding: 0.4em 1.4em; 
    width: 50%
}
.selected{
    background-color: #ffff;
    border-radius: 8px;
}
.input-field{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0.6em 1em;
    border-radius: 1em;
    border: 2px solid #d3d3d3;
    outline: none;
}