.main-header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}
.main-info{
    margin-top: 10px;
}
.main-current{
    display: flex;
    gap: 14px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    margin-top: 80px;
}
.category-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}
.food-container{
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}
@media (max-width: 600px) {
    .food-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 20px;
    }
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding: 1em 2em;
    top: 60px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.main-menu{
    margin-bottom: 50px;
}